In [1]:
from dash import Dash, dash_table, dcc, html, Output, Input
import pandas as pd
import plotly.graph_objs as go
import requests

In [2]:
# # you can get the chain list straihgt from the API
# url = 'https://api.llama.fi/v2/chains'
# response = requests.get(url)
# if response.status_code == 200: # data was fetched successfully
#     data = response.json()
#     df = pd.DataFrame(data)
# else:
#     raise Exception('Error fetching data from DeFiLlama API')

# dex_all_chains_url = "https://api.llama.fi/overview/dexs?excludeTotalDataChart=true&excludeTotalDataChartBreakdown=true&dataType=dailyVolume"
# dex_all_chains_response = requests.get(dex_all_chains_url)

# dex_all_chains_data = dex_all_chains_response.json()
# dex_all_chains = set(dex_all_chains_data.get('allChains', []))


# fees_all_chains_url = "https://api.llama.fi/overview/fees?excludeTotalDataChart=true&excludeTotalDataChartBreakdown=true&dataType=dailyFees"
# fees_all_chains_response = requests.get(fees_all_chains_url)

# fees_all_chains_data = fees_all_chains_response.json()
# fees_all_chains = set(fees_all_chains_data.get('allChains', []))

# common_chains = dex_all_chains.intersection(fees_all_chains)

# df = df[['name', 'tvl']]
# df = df[df['name'].isin(common_chains)]

# # Sort the data to get the top 10 chains by TVL
# df = df.sort_values(by='tvl', ascending=False).head(10)

In [3]:
def fetch_historical_data(chain_name, metric):
    if metric == 'tvl':
        url = f'https://api.llama.fi/v2/historicalChainTvl/{chain_name}'
        response = requests.get(url)
        if response.status_code == 200:
            data = response.json()
            df = pd.DataFrame(data)  # Directly create DataFrame from the list of dictionaries
            df['date'] = pd.to_datetime(df['date'], unit='s')
            print(df.tail(120))
            return df[['date', metric]].tail(120)  # Get the last 120 days of the specified metric
        else:
            raise Exception(f'Error fetching historical {metric} data for {chain_name}')
        
    elif metric == 'volume':
        url = (f'https://api.llama.fi/overview/dexs/{chain_name}'
                  '?excludeTotalDataChart=false'
                  '&excludeTotalDataChartBreakdown=true'
                  '&dataType=dailyVolume')
        response = requests.get(url)
        if response.status_code == 200:
            data = response.json()
            df = pd.DataFrame(data['totalDataChart'], columns=['timestamp', metric])   
            df['date'] = pd.to_datetime(df['timestamp'], unit='s')
            df = df.sort_values(by='date')
            print(df.tail(120))
            return df[['date', metric]].tail(120)
        else:
            raise Exception(f'Error fetching historical {metric} data for {chain_name}')
        
    elif metric == 'fee':
        url = (f'https://api.llama.fi/overview/fees/{chain_name}'
                  '?excludeTotalDataChart=false'
                  '&excludeTotalDataChartBreakdown=true'
                  '&dataType=dailyFees')
        response = requests.get(url)
        if response.status_code == 200:
            data = response.json()
            df = pd.DataFrame(data['totalDataChart'], columns=['timestamp', metric])   
            df['date'] = pd.to_datetime(df['timestamp'], unit='s')
            df = df.sort_values(by='date')
            print(df.tail(120))
            return df[['date', metric]].tail(120)
        else:
            raise Exception(f'Error fetching historical {metric} data for {chain_name}')
    else:
        raise ValueError('Invalid metric specified')

In [ ]:
# Or you can get it thru functions
def fetch_data():
    url = 'https://api.llama.fi/v2/chains'
    response = requests.get(url)
    if response.status_code == 200: # data was fetched successfully
        data = response.json()
        return pd.DataFrame(data)
    else:
        raise Exception('Error fetching data from DeFiLlama API')


def prepare_data(df):
    url = 'https://api.llama.fi/v2/chains'
    response = requests.get(url)
    if response.status_code == 200: # data was fetched successfully
        data = response.json()
        df = pd.DataFrame(data)
    else:
        raise Exception('Error fetching data from DeFiLlama API')

    dex_all_chains_url = "https://api.llama.fi/overview/dexs?excludeTotalDataChart=true&excludeTotalDataChartBreakdown=true&dataType=dailyVolume"
    dex_all_chains_response = requests.get(dex_all_chains_url)

    dex_all_chains_data = dex_all_chains_response.json()
    dex_all_chains = set(dex_all_chains_data.get('allChains', []))


    fees_all_chains_url = "https://api.llama.fi/overview/fees?excludeTotalDataChart=true&excludeTotalDataChartBreakdown=true&dataType=dailyFees"
    fees_all_chains_response = requests.get(fees_all_chains_url)

    fees_all_chains_data = fees_all_chains_response.json()
    fees_all_chains = set(fees_all_chains_data.get('allChains', []))


    common_chains = dex_all_chains.intersection(fees_all_chains)

    df = df[['name', 'tvl']]
    df = df[df['name'].isin(common_chains)]

    # Sort the data to get the top 10 chains by TVL
    df = df.sort_values(by='tvl', ascending=False).head(10)
    return df

In [5]:
# Step 3: Create the Dash app and the layout
def create_dashboard(df):
    app = Dash(__name__)
    app.layout = html.Div([
        html.H1('DeFi Chains Dashboard'),
        dcc.RadioItems(
            options=[
                {'label': 'Total Value Locked (TVL)', 'value': 'tvl'},
                {'label': 'Volume', 'value': 'volume'},
                {'label': 'Fees', 'value': 'fee'}
            ],
            id='metric-dropdown',
            value='tvl'
            
        ),
        dcc.Graph(id='historical-chart'),
        dash_table.DataTable(
            id='data-table',
            columns=[{'name': col, 'id': col} for col in df.columns],  # Define the columns of the DataTable
            data=df.to_dict('records'),
            page_size=10,
            style_table={'overflowX': 'auto'}
        )
    ])


    @app.callback(
        [Output(component_id='historical-chart', component_property='figure'),
         Output(component_id='data-table', component_property='data')],
        Input(component_id='metric-dropdown', component_property='value')
    )
    def update(selected_metric):
        # Line Chart for historical data of top 10 chains
        historical_fig = go.Figure()
        updated_data = []
        for chain_name in df['name']:
            historical_data_df = fetch_historical_data(chain_name, selected_metric)
            historical_fig.add_trace(go.Scatter(
                x=historical_data_df['date'],
                y=historical_data_df[selected_metric],
                mode='lines',
                name=chain_name
            ))
            # Get the latest value of the selected metric for each chain
            latest_value = historical_data_df[selected_metric].iloc[-1]
            updated_data.append({
                'name': chain_name,
                selected_metric: latest_value
            })
        # Update the layout of the chart
        historical_fig.update_layout(
            title=f'Historical {selected_metric.upper()} of Top 10 Chains (Last 120 Days)',
            xaxis_title='Date',
            yaxis_title=selected_metric.capitalize()
        )
        
        return historical_fig, updated_data

    return app

In [ ]:
if __name__ == '__main__':
    df = fetch_data()
    df = prepare_data(df)
    app = create_dashboard(df)
    app.run_server(debug=True, use_reloader=False)  # Disable reloader to prevent multiple fetches of data

           date           tvl
2287 2024-07-31  5.944718e+10
2288 2024-08-01  5.755419e+10
2289 2024-08-02  5.700088e+10
2290 2024-08-03  5.432958e+10
2291 2024-08-04  5.309768e+10
...         ...           ...
2402 2024-11-23  6.475547e+10
2403 2024-11-24  6.493562e+10
2404 2024-11-25  6.693231e+10
2405 2024-11-26  6.436024e+10
2406 2024-11-27  6.474774e+10

[120 rows x 2 columns]
           date           tvl
1231 2024-07-31  5.310710e+09
1232 2024-08-01  5.032012e+09
1233 2024-08-02  4.950015e+09
1234 2024-08-03  4.686285e+09
1235 2024-08-04  4.505841e+09
...         ...           ...
1346 2024-11-23  9.084357e+09
1347 2024-11-24  9.059608e+09
1348 2024-11-25  9.136232e+09
1349 2024-11-26  8.751647e+09
1350 2024-11-27  8.758267e+09

[120 rows x 2 columns]
           date           tvl
1580 2024-07-31  8.250840e+09
1581 2024-08-01  8.140416e+09
1582 2024-08-02  8.074799e+09
1583 2024-08-03  7.699065e+09
1584 2024-08-04  7.798851e+09
...         ...           ...
1695 2024-11-23  8.212726e+09
1696 2024-11-24  8.123758e+09
1697 2024-11-25  8.054429e+09
1698 2024-11-26  7.479215e+09
1699 2024-11-27  7.549912e+09

[120 rows x 2 columns]
           date           tvl
1369 2024-07-31  4.828915e+09
1370 2024-08-01  4.774649e+09
1371 2024-08-02  4.785147e+09
1372 2024-08-03  4.564828e+09
1373 2024-08-04  4.479664e+09
...         ...           ...
1484 2024-11-23  5.471162e+09
1485 2024-11-24  5.466159e+09
1486 2024-11-25  5.525476e+09
1487 2024-11-26  5.229228e+09
1488 2024-11-27  5.185369e+09

[120 rows x 2 columns]
       timestamp      volume       date
2098  1722384000  1683805390 2024-07-31
2099  1722470400  1622082376 2024-08-01
2100  1722556800  2215702871 2024-08-02
2101  1722643200  2108715279 2024-08-03
2102  1722729600  3559055573 2024-08-04
...          ...         ...        ...
2213  1732320000  2743386938 2024-11-23
2214  1732406400  2243369493 2024-11-24
2215  1732492800  3724119276 2024-11-25
2216  1732579200  3470334581 2024-11-26
2217  1732665600  3325370019 2024-11-27

[120 rows x 3 columns]
           date           tvl
1228 2024-07-31  7.253171e+08
1229 2024-08-01  6.848329e+08
1230 2024-08-02  6.872245e+08
1231 2024-08-03  6.579590e+08
1232 2024-08-04  6.466247e+08
...         ...           ...
1343 2024-11-23  4.380886e+09
1344 2024-11-24  4.346522e+09
1345 2024-11-25  4.394248e+09
1346 2024-11-26  4.137766e+09
1347 2024-11-27  4.141965e+09

[120 rows x 2 columns]
          date           tvl
411 2024-07-31  1.717496e+09
412 2024-08-01  1.670302e+09
413 2024-08-02  1.684721e+09
414 2024-08-03  1.601883e+09
415 2024-08-04  1.562979e+09
..         ...           ...
526 2024-11-23  3.309994e+09
527 2024-11-24  3.325108e+09
528 2024-11-25  3.404249e+09
529 2024-11-26  3.319471e+09
530 2024-11-27  3.352330e+09

[120 rows x 2 columns]
       timestamp      volume       date
1033  1722384000  1453561617 2024-07-31
1034  1722470400  1590505816 2024-08-01
1035  1722556800  1180258093 2024-08-02
1036  1722643200  1119512749 2024-08-03
1037  1722729600  2759046142 2024-08-04
...          ...         ...        ...
1148  1732320000  4855243230 2024-11-23
1149  1732406400  5056288669 2024-11-24
1150  1732492800  4886470619 2024-11-25
1151  1732579200  5162607865 2024-11-26
1152  1732665600  5162607865 2024-11-27

[120 rows x 3 columns]
           date           tvl
1079 2024-07-31  3.180819e+09
1080 2024-08-01  3.096743e+09
1081 2024-08-02  3.089908e+09
1082 2024-08-03  2.972232e+09
1083 2024-08-04  2.909170e+09
...         ...           ...
1194 2024-11-23  3.044504e+09
1195 2024-11-24  3.075961e+09
1196 2024-11-25  3.145483e+09
1197 2024-11-26  2.987342e+09
1198 2024-11-27  2.980841e+09

[120 rows x 2 columns]
       timestamp     volume       date
1442  1722384000   33464226 2024-07-31
1443  1722470400   29574456 2024-08-01
1444  1722556800   39449654 2024-08-02
1445  1722643200   35570056 2024-08-03
1446  1722729600   39771661 2024-08-04
...          ...        ...        ...
1557  1732320000  131297557 2024-11-23
1558  1732406400  132874792 2024-11-24
1559  1732492800  112199208 2024-11-25
1560  1732579200  110057659 2024-11-26
1561  1732665600  110057659 2024-11-27

[120 rows x 3 columns]
           date           tvl
1274 2024-07-31  9.300480e+08
1275 2024-08-01  9.137634e+08
1276 2024-08-02  9.060197e+08
1277 2024-08-03  8.804972e+08
1278 2024-08-04  8.578574e+08
...         ...           ...
1389 2024-11-23  1.421266e+09
1390 2024-11-24  1.392780e+09
1391 2024-11-25  1.483495e+09
1392 2024-11-26  1.361502e+09
1393 2024-11-27  1.392302e+09

[120 rows x 2 columns]
       timestamp      volume       date
1411  1722384000   519426895 2024-07-31
1412  1722470400   575340257 2024-08-01
1413  1722556800   693577454 2024-08-02
1414  1722643200   653010761 2024-08-03
1415  1722729600   727414130 2024-08-04
...          ...         ...        ...
1526  1732320000  1228527296 2024-11-23
1527  1732406400  1465156278 2024-11-24
1528  1732492800  1361779543 2024-11-25
1529  1732579200  1313269989 2024-11-26
1530  1732665600  1270897246 2024-11-27

[120 rows x 3 columns]
       timestamp   volume       date
2973  1718150400  1821569 2024-06-12
2974  1718236800   483770 2024-06-13
2975  1718323200  1216377 2024-06-14
2976  1718409600   312285 2024-06-15
2977  1718496000   313190 2024-06-16
...          ...      ...        ...
3088  1728518400    68432 2024-10-10
3089  1728604800     4625 2024-10-11
3090  1728691200      799 2024-10-12
3091  1728777600      159 2024-10-13
3092  1728864000    17059 2024-10-14

[120 rows x 3 columns]
          date           tvl
452 2024-07-31  4.182455e+08
453 2024-08-01  4.163693e+08
454 2024-08-02  4.044992e+08
455 2024-08-03  3.930699e+08
456 2024-08-04  3.852085e+08
..         ...           ...
567 2024-11-23  1.536431e+09
568 2024-11-24  1.581699e+09
569 2024-11-25  1.601375e+09
570 2024-11-26  1.367668e+09
571 2024-11-27  1.384197e+09

[120 rows x 2 columns]
      timestamp      volume       date
366  1722384000   549776991 2024-07-31
367  1722470400   640795581 2024-08-01
368  1722556800   709554859 2024-08-02
369  1722643200   502044146 2024-08-03
370  1722729600   516458372 2024-08-04
..          ...         ...        ...
481  1732320000  1374456962 2024-11-23
482  1732406400  1248086011 2024-11-24
483  1732492800  1869729288 2024-11-25
484  1732579200  1916167063 2024-11-26
485  1732665600  1909560935 2024-11-27

[120 rows x 3 columns]
          date           tvl
649 2024-07-31  3.958527e+08
650 2024-08-01  3.999078e+08
651 2024-08-02  4.015974e+08
652 2024-08-03  3.852629e+08
653 2024-08-04  3.716646e+08
..         ...           ...
764 2024-11-23  1.095266e+09
765 2024-11-24  1.100941e+09
766 2024-11-25  1.120932e+09
767 2024-11-26  1.050648e+09
768 2024-11-27  1.114962e+09

[120 rows x 2 columns]
       timestamp      volume       date
1065  1722384000   812440166 2024-07-31
1066  1722470400   877090884 2024-08-01
1067  1722556800  1068943411 2024-08-02
1068  1722643200   799761420 2024-08-03
1069  1722729600   729687965 2024-08-04
...          ...         ...        ...
1180  1732320000  1337684559 2024-11-23
1181  1732406400  1100370750 2024-11-24
1182  1732492800  1842764073 2024-11-25
1183  1732579200  1768046459 2024-11-26
1184  1732665600  1599016251 2024-11-27

[120 rows x 3 columns]
       timestamp     volume       date
1268  1722384000   76249600 2024-07-31
1269  1722470400   95993106 2024-08-01
1270  1722556800  122411290 2024-08-02
1271  1722643200  112398062 2024-08-03
1272  1722729600   95781981 2024-08-04
...          ...        ...        ...
1383  1732320000  459995941 2024-11-23
1384  1732406400  334839033 2024-11-24
1385  1732492800  499991944 2024-11-25
1386  1732579200  483788407 2024-11-26
1387  1732665600  481095436 2024-11-27

[120 rows x 3 columns]
      timestamp     volume       date
565  1722384000   30273110 2024-07-31
566  1722470400   43499305 2024-08-01
567  1722556800   69269129 2024-08-02
568  1722643200   62971010 2024-08-03
569  1722729600   30822554 2024-08-04
..          ...        ...        ...
680  1732320000  213513106 2024-11-23
681  1732406400  197037566 2024-11-24
682  1732492800  219008564 2024-11-25
683  1732579200  267973152 2024-11-26
684  1732665600   82529227 2024-11-27

[120 rows x 3 columns]
      timestamp    volume       date
650  1722384000  44953413 2024-07-31
651  1722470400  48980412 2024-08-01
652  1722556800  52922076 2024-08-02
653  1722643200  47391575 2024-08-03
654  1722729600  44578330 2024-08-04
..          ...       ...        ...
765  1732320000  36839940 2024-11-23
766  1732406400  32249574 2024-11-24
767  1732492800  32264276 2024-11-25
768  1732579200  31219722 2024-11-26
769  1732665600  30725903 2024-11-27

[120 rows x 3 columns]
           date           tvl
2287 2024-07-31  5.944718e+10
2288 2024-08-01  5.755419e+10
2289 2024-08-02  5.700088e+10
2290 2024-08-03  5.432958e+10
2291 2024-08-04  5.309768e+10
...         ...           ...
2402 2024-11-23  6.475547e+10
2403 2024-11-24  6.493562e+10
2404 2024-11-25  6.693231e+10
2405 2024-11-26  6.436024e+10
2406 2024-11-27  6.474774e+10

[120 rows x 2 columns]
           date           tvl
1231 2024-07-31  5.310710e+09
1232 2024-08-01  5.032012e+09
1233 2024-08-02  4.950015e+09
1234 2024-08-03  4.686285e+09
1235 2024-08-04  4.505841e+09
...         ...           ...
1346 2024-11-23  9.084357e+09
1347 2024-11-24  9.059608e+09
1348 2024-11-25  9.136232e+09
1349 2024-11-26  8.751647e+09
1350 2024-11-27  8.758267e+09

[120 rows x 2 columns]
           date           tvl
1580 2024-07-31  8.250840e+09
1581 2024-08-01  8.140416e+09
1582 2024-08-02  8.074799e+09
1583 2024-08-03  7.699065e+09
1584 2024-08-04  7.798851e+09
...         ...           ...
1695 2024-11-23  8.212726e+09
1696 2024-11-24  8.123758e+09
1697 2024-11-25  8.054429e+09
1698 2024-11-26  7.479215e+09
1699 2024-11-27  7.549912e+09

[120 rows x 2 columns]
           date           tvl
1369 2024-07-31  4.828915e+09
1370 2024-08-01  4.774649e+09
1371 2024-08-02  4.785147e+09
1372 2024-08-03  4.564828e+09
1373 2024-08-04  4.479664e+09
...         ...           ...
1484 2024-11-23  5.471162e+09
1485 2024-11-24  5.466159e+09
1486 2024-11-25  5.525476e+09
1487 2024-11-26  5.229228e+09
1488 2024-11-27  5.185369e+09

[120 rows x 2 columns]
           date           tvl
1228 2024-07-31  7.253171e+08
1229 2024-08-01  6.848329e+08
1230 2024-08-02  6.872245e+08
1231 2024-08-03  6.579590e+08
1232 2024-08-04  6.466247e+08
...         ...           ...
1343 2024-11-23  4.380886e+09
1344 2024-11-24  4.346522e+09
1345 2024-11-25  4.394248e+09
1346 2024-11-26  4.137766e+09
1347 2024-11-27  4.141965e+09

[120 rows x 2 columns]
          date           tvl
411 2024-07-31  1.717496e+09
412 2024-08-01  1.670302e+09
413 2024-08-02  1.684721e+09
414 2024-08-03  1.601883e+09
415 2024-08-04  1.562979e+09
..         ...           ...
526 2024-11-23  3.309994e+09
527 2024-11-24  3.325108e+09
528 2024-11-25  3.404249e+09
529 2024-11-26  3.319471e+09
530 2024-11-27  3.352330e+09

[120 rows x 2 columns]
           date           tvl
1079 2024-07-31  3.180819e+09
1080 2024-08-01  3.096743e+09
1081 2024-08-02  3.089908e+09
1082 2024-08-03  2.972232e+09
1083 2024-08-04  2.909170e+09
...         ...           ...
1194 2024-11-23  3.044504e+09
1195 2024-11-24  3.075961e+09
1196 2024-11-25  3.145483e+09
1197 2024-11-26  2.987342e+09
1198 2024-11-27  2.980841e+09

[120 rows x 2 columns]
           date           tvl
1274 2024-07-31  9.300480e+08
1275 2024-08-01  9.137634e+08
1276 2024-08-02  9.060197e+08
1277 2024-08-03  8.804972e+08
1278 2024-08-04  8.578574e+08
...         ...           ...
1389 2024-11-23  1.421266e+09
1390 2024-11-24  1.392780e+09
1391 2024-11-25  1.483495e+09
1392 2024-11-26  1.361502e+09
1393 2024-11-27  1.392302e+09

[120 rows x 2 columns]
          date           tvl
452 2024-07-31  4.182455e+08
453 2024-08-01  4.163693e+08
454 2024-08-02  4.044992e+08
455 2024-08-03  3.930699e+08
456 2024-08-04  3.852085e+08
..         ...           ...
567 2024-11-23  1.536431e+09
568 2024-11-24  1.581699e+09
569 2024-11-25  1.601375e+09
570 2024-11-26  1.367668e+09
571 2024-11-27  1.384197e+09

[120 rows x 2 columns]
          date           tvl
649 2024-07-31  3.958527e+08
650 2024-08-01  3.999078e+08
651 2024-08-02  4.015974e+08
652 2024-08-03  3.852629e+08
653 2024-08-04  3.716646e+08
..         ...           ...
764 2024-11-23  1.095266e+09
765 2024-11-24  1.100941e+09
766 2024-11-25  1.120932e+09
767 2024-11-26  1.050648e+09
768 2024-11-27  1.114962e+09

[120 rows x 2 columns]
       timestamp       fee       date
2359  1722384000  29070337 2024-07-31
2360  1722470400  29287270 2024-08-01
2361  1722556800  32650621 2024-08-02
2362  1722643200  25746146 2024-08-03
2363  1722729600  26452274 2024-08-04
...          ...       ...        ...
2474  1732320000  34399378 2024-11-23
2475  1732406400  32603687 2024-11-24
2476  1732492800  35221132 2024-11-25
2477  1732579200  34179941 2024-11-26
2478  1732665600  33836523 2024-11-27

[120 rows x 3 columns]
       timestamp       fee       date
1291  1722384000  11577822 2024-07-31
1292  1722470400   9916433 2024-08-01
1293  1722556800   8216909 2024-08-02
1294  1722643200   6502135 2024-08-03
1295  1722729600   5691490 2024-08-04
...          ...       ...        ...
1406  1732320000  46460127 2024-11-23
1407  1732406400  40961560 2024-11-24
1408  1732492800  36241227 2024-11-25
1409  1732579200  35381318 2024-11-26
1410  1732665600  35506187 2024-11-27

[120 rows x 3 columns]
       timestamp      fee       date
1628  1722384000  1521463 2024-07-31
1629  1722470400  1519134 2024-08-01
1630  1722556800  1372845 2024-08-02
1631  1722643200  1044872 2024-08-03
1632  1722729600   980096 2024-08-04
...          ...      ...        ...
1743  1732320000  1899433 2024-11-23
1744  1732406400  1678890 2024-11-24
1745  1732492800  2382026 2024-11-25
1746  1732579200  2362868 2024-11-26
1747  1732665600  2362868 2024-11-27

[120 rows x 3 columns]
       timestamp      fee       date
1430  1722384000  1194626 2024-07-31
1431  1722470400  1281262 2024-08-01
1432  1722556800  1353523 2024-08-02
1433  1722643200  1268453 2024-08-03
1434  1722729600  1611375 2024-08-04
...          ...      ...        ...
1545  1732320000  2154213 2024-11-23
1546  1732406400  9255055 2024-11-24
1547  1732492800  2478709 2024-11-25
1548  1732579200  2401199 2024-11-26
1549  1732665600  2317344 2024-11-27

[120 rows x 3 columns]
       timestamp      fee       date
4919  1722384000   682279 2024-07-31
4920  1722470400   613968 2024-08-01
4921  1722556800   552436 2024-08-02
4922  1722643200   488141 2024-08-03
4923  1722729600   421300 2024-08-04
...          ...      ...        ...
5034  1732320000  1309821 2024-11-23
5035  1732406400   900521 2024-11-24
5036  1732492800  1087744 2024-11-25
5037  1732579200  1587911 2024-11-26
5038  1732665600  1587911 2024-11-27

[120 rows x 3 columns]
      timestamp      fee       date
387  1722384000   639245 2024-07-31
388  1722470400   737879 2024-08-01
389  1722556800   792921 2024-08-02
390  1722643200   605696 2024-08-03
391  1722729600   690559 2024-08-04
..          ...      ...        ...
502  1732320000  1868696 2024-11-23
503  1732406400  1995752 2024-11-24
504  1732492800  3151397 2024-11-25
505  1732579200  3387899 2024-11-26
506  1732665600  3550848 2024-11-27

[120 rows x 3 columns]
       timestamp      fee       date
1086  1722384000  1190092 2024-07-31
1087  1722470400  1951713 2024-08-01
1088  1722556800  2027055 2024-08-02
1089  1722643200  1666979 2024-08-03
1090  1722729600  1064994 2024-08-04
...          ...      ...        ...
1201  1732320000  1463613 2024-11-23
1202  1732406400  1224582 2024-11-24
1203  1732492800  1622988 2024-11-25
1204  1732579200  1579456 2024-11-26
1205  1732665600  1486373 2024-11-27

[120 rows x 3 columns]
       timestamp      fee       date
1268  1722384000   179251 2024-07-31
1269  1722470400   167878 2024-08-01
1270  1722556800   212931 2024-08-02
1271  1722643200   199446 2024-08-03
1272  1722729600   210328 2024-08-04
...          ...      ...        ...
1383  1732320000   889395 2024-11-23
1384  1732406400   642579 2024-11-24
1385  1732492800  1091517 2024-11-25
1386  1732579200   918308 2024-11-26
1387  1732665600   912533 2024-11-27

[120 rows x 3 columns]
      timestamp     fee       date
225  1722384000   73540 2024-07-31
226  1722470400   73066 2024-08-01
227  1722556800   73063 2024-08-02
228  1722643200   67386 2024-08-03
229  1722729600  108574 2024-08-04
..          ...     ...        ...
340  1732320000  336931 2024-11-23
341  1732406400  360010 2024-11-24
342  1732492800  344884 2024-11-25
343  1732579200  467054 2024-11-26
344  1732665600  418830 2024-11-27

[120 rows x 3 columns]
      timestamp    fee       date
590  1722384000  15712 2024-07-31
591  1722470400  17625 2024-08-01
592  1722556800  27188 2024-08-02
593  1722643200  17138 2024-08-03
594  1722729600  16983 2024-08-04
..          ...    ...        ...
705  1732320000  12443 2024-11-23
706  1732406400  11414 2024-11-24
707  1732492800  11930 2024-11-25
708  1732579200  11887 2024-11-26
709  1732665600  11887 2024-11-27

[120 rows x 3 columns]
           date           tvl
2287 2024-07-31  5.944718e+10
2288 2024-08-01  5.755419e+10
2289 2024-08-02  5.700088e+10
2290 2024-08-03  5.432958e+10
2291 2024-08-04  5.309768e+10
...         ...           ...
2402 2024-11-23  6.475547e+10
2403 2024-11-24  6.493562e+10
2404 2024-11-25  6.693231e+10
2405 2024-11-26  6.436024e+10
2406 2024-11-27  6.474774e+10

[120 rows x 2 columns]
           date           tvl
1231 2024-07-31  5.310710e+09
1232 2024-08-01  5.032012e+09
1233 2024-08-02  4.950015e+09
1234 2024-08-03  4.686285e+09
1235 2024-08-04  4.505841e+09
...         ...           ...
1346 2024-11-23  9.084357e+09
1347 2024-11-24  9.059608e+09
1348 2024-11-25  9.136232e+09
1349 2024-11-26  8.751647e+09
1350 2024-11-27  8.758267e+09

[120 rows x 2 columns]
           date           tvl
1580 2024-07-31  8.250840e+09
1581 2024-08-01  8.140416e+09
1582 2024-08-02  8.074799e+09
1583 2024-08-03  7.699065e+09
1584 2024-08-04  7.798851e+09
...         ...           ...
1695 2024-11-23  8.212726e+09
1696 2024-11-24  8.123758e+09
1697 2024-11-25  8.054429e+09
1698 2024-11-26  7.479215e+09
1699 2024-11-27  7.549912e+09

[120 rows x 2 columns]
           date           tvl
1369 2024-07-31  4.828915e+09
1370 2024-08-01  4.774649e+09
1371 2024-08-02  4.785147e+09
1372 2024-08-03  4.564828e+09
1373 2024-08-04  4.479664e+09
...         ...           ...
1484 2024-11-23  5.471162e+09
1485 2024-11-24  5.466159e+09
1486 2024-11-25  5.525476e+09
1487 2024-11-26  5.229228e+09
1488 2024-11-27  5.185369e+09

[120 rows x 2 columns]
           date           tvl
1228 2024-07-31  7.253171e+08
1229 2024-08-01  6.848329e+08
1230 2024-08-02  6.872245e+08
1231 2024-08-03  6.579590e+08
1232 2024-08-04  6.466247e+08
...         ...           ...
1343 2024-11-23  4.380886e+09
1344 2024-11-24  4.346522e+09
1345 2024-11-25  4.394248e+09
1346 2024-11-26  4.137766e+09
1347 2024-11-27  4.141965e+09

[120 rows x 2 columns]
          date           tvl
411 2024-07-31  1.717496e+09
412 2024-08-01  1.670302e+09
413 2024-08-02  1.684721e+09
414 2024-08-03  1.601883e+09
415 2024-08-04  1.562979e+09
..         ...           ...
526 2024-11-23  3.309994e+09
527 2024-11-24  3.325108e+09
528 2024-11-25  3.404249e+09
529 2024-11-26  3.319471e+09
530 2024-11-27  3.352330e+09

[120 rows x 2 columns]
           date           tvl
1079 2024-07-31  3.180819e+09
1080 2024-08-01  3.096743e+09
1081 2024-08-02  3.089908e+09
1082 2024-08-03  2.972232e+09
1083 2024-08-04  2.909170e+09
...         ...           ...
1194 2024-11-23  3.044504e+09
1195 2024-11-24  3.075961e+09
1196 2024-11-25  3.145483e+09
1197 2024-11-26  2.987342e+09
1198 2024-11-27  2.980841e+09

[120 rows x 2 columns]
           date           tvl
1274 2024-07-31  9.300480e+08
1275 2024-08-01  9.137634e+08
1276 2024-08-02  9.060197e+08
1277 2024-08-03  8.804972e+08